<div class="jumbotron">  
    <h1>RUBY on rails</h1>
    <%-#use the ruby tags , use = to show something on the page-%>
    <%= link_to "Sign up now" , signup_path , class: "btn btn-danger btn-xlarge" %>
</div>  