<h1> this is Home action method in Welcome controller </h1>
<%-#use the ruby tags , use = to show something on the page-%>
<%= link_to 'articles/index' , articles_path %> 
<%= link_to 'contact/about' , contact_about_path %> 